
.cms-page .form-field-file:hover,
.cms-page .form-field-image:hover {
	background: #f1f1f1;
}

.cms-page .form-field-file,
.cms-page .form-field-image {
	padding: 20px 0;
	border: 1px dotted #ccc;
	text-align: center;
	cursor: pointer;
	position: relative;
	display: block;
	width: 100%;
}

.cms-page .form-field-file input,
.cms-page .form-field-image input {
	display: none;
}