<tr><td colspan="*">&nbsp;</td></tr>
<tr>
  <td><b>Параметры</b></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td colspan="2">
    <table class="adminSection-routerParametersTable" id="parameters_{$i}">
      <tbody>

        {$parameters}

        <tr>
          <td class="parameterNameBlock">&nbsp;</td>
          <td colspan="6"><div class="adminSection-routerParametersTable-addParameterBlock"><a class="addParameter actionAnchor" data-index="{$i}" href="">добавить</a></div></td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
