/**
{$param}
	 *
	 * @param \$param
	 *
	 * @return \$this
	 */
	public function add{$ucPropertyName}(\$param)
	{
		return parent::addMethodObject('{$object}', \$param);
	}

	/**
	 * @param \${$object}Id
	 *
	 * @return \$this
	 */
	public function remove{$ucPropertyName}(\${$object}Id)
	{
		return parent::removeMethodObject('{$object}', \${$object}Id, false);
	}

	/**
	 * @return \$this
	 */
	public function remove{$ucPropertyName}s()
	{
		return parent::removesMethodObject('{$object}');
	}

	/**
	 * @return \$this
	 */
	protected function save{$ucPropertyName}s()
	{
		\$link = "{$link}";
		\$param = [
			'object' => '{$object}',
			'fields' => [],
			'objects' => [],
		];
		return parent::saveMethodObject(\$link, \$param);
	}